@page
@model PSI_application_C__web.Pages.Page_prise_livraisonModel
@{
    ViewData["Title"] = "Page prise livraison";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PSI_application_C__web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div>
            <a asp-page="/Page_accueil_connecte" class="btn">Accueil</a>
        </div>
        <div>
            <a asp-page="/Page_1er_chargement" class="btn">Déconnexion</a>
        </div>
    </header>

    <main>
        
    </main>

    <footer style="text-align: center; margin-top: 40px;">
        &copy; 2025 - Application - <a asp-page="/Privacy">Privacy</a>
    </footer>
</body>
</html>