@page
@model PSI_application_C__web.Pages.Page_finaliser_commandeModel

@{
    ViewData["Title"] = "Page finalisation commande";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PSI_application_C__web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div>
            <a asp-page="/Page_accueil_connecte" class="btn">Accueil</a>
        </div>
        <div>
            <a asp-page="/Page_1er_chargement" class="btn">Déconnexion</a>
        </div>
    </header>

    <main>
        <h1>Finalisation de la commande :</h1>
        <form method="post">

            <div>
                <p>Voulez-vous finialiser la commande ?</p>
                <label>
                    <input type="radio" asp-for="saisie_arreter_commande" value="true" />
                    Oui
                </label>
                <label>
                    <input type="radio" asp-for="saisie_arreter_commande" value="false" />
                    Non
                </label>
                <p>Voulez-vous continuer la commande ?</p>
                <label>
                    <input type="radio" asp-for="saisie_continuer_commande" value="true" />
                    Oui
                </label>
                <label>
                    <input type="radio" asp-for="saisie_continuer_commande" value="false" />
                    Non
                </label>
                <p>Voulez-vous annuler la commande ?</p>
                <label>
                    <input type="radio" asp-for="saisie_annuler_commande" value="true" />
                    Oui
                </label>
                <label>
                    <input type="radio" asp-for="saisie_annuler_commande" value="false" />
                    Non
                </label>
            </div>
            <p>@ViewData["Erreur_choix_finaliser_commande"]</p>
            <button type="submit">Soumettre le choix</button>
        </form>
    </main>

    <footer style="text-align: center; margin-top: 40px;">
        &copy; 2025 - Application - <a asp-page="/Privacy">Confidentialité</a>
    </footer>
</body>
</html>


